body {
    text-align: center;
    padding-top: 175px;
}



#author {
    color: rgba(0, 0, 0, 0.7);
    font-size: 45px;
    font-family: 'Mrs Saint Delafield', cursive;
    margin-top: 15px;
}

#quote {
    color: rgba(0, 0, 0, 0.7);
    font-size: 27px;
    font-family: 'Bellefair', serif;
    margin: 15px 40px;
}




@media only screen and (max-width: 480px) {
    
    body {
        padding-top: 125px;
    }
    
    #quote {
        font-size: 20px;
        margin: 0 10px;
    }
    
    #author {
        font-size: 35px;
    }
}

@media only screen and (max-width: 720px) {
    body {
        padding-top: 125px;
    }
    
    #quote {
        margin: 0 25px;
    }
}

